#wrapper {
	margin-top:50px;
	padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#sidebar-wrapper {
	position: fixed;
	width: 240px;
	float: left;
	height: 100%;
	border-right: thin double gray;
}

a.list-group-item {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

/* border style in hover sidebar */
.list-group > a.list-group-item:hover {
	border-style: solid;
	border-left-width: 5px;
	border-left-color: #ff0000;
}

.list-group-submenu a.list-group-item {
	color:#e74c3c;
}

#page-content-wrapper {
	margin-left: 240px;
}

