#sidebar-wrapper {
	position: fixed;
	width: 240px;
	float: left;
	height: 100%;
	margin-top:-20px;
	border-right: thick double #e74c3c;
}

#page-content-wrapper {
	margin-left: 240px;
}



.sidebar-nav {
	list-style: none;
}

